<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Inserimento spedizione</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <style>
        body{
            text-align: center;
        }
    </style>
	<h1>Inserimento spedizione</h1>
	<br>
    <form action="#" th:action="@{/spedizioni/new}" th:object="${spedizione}" th:method="POST">
        <div class="form-group">

                <label>Codice Tracking: </label>
                <input type="text" th:field="*{codiceTracking}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('codiceTracking')}" th:errors="*{codiceTracking}"></div>
                <br>

                <label>Destinazione: </label>
                <input type="text" th:field="*{destinazione}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('destinazione')}" th:errors="*{destinazione}"></div>
                <br>

                <label>Provenienza: </label>
                <input type="text" th:field="*{provenienza}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('provenienza')}" th:errors="*{provenienza}"></div>
                <br>

                <label>Nome destinatario: </label>
                <input type="text" th:field="*{nomeDestinatario}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('nomeDestinatario')}" th:errors="*{nomeDestinatario}"></div>
                <br>

                <label>Cognome destinatario: </label>
                <input type="text" th:field="*{cognomeDestinatario}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('cognomeDestinatario')}" th:errors="*{cognomeDestinatario}"></div>
                <br>

                <label>Data spedizione: </label>
                <input type="date" th:field="*{dataSpedizione}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('dataSpedizione')}" th:errors="*{dataSpedizione}"></div>
                <br>

                <label>Stato: </label>
                <select th:field="*{stato}" default="in_magazzino">
                    <option value= in_magazzino>In magazzino</option>
                    <option value= spedito>Spedito</option>
                    <option value= in_consegna>In consegna</option>
                    <option value= consegnato>Consegnato</option>
                  </select>
                <br>

                <label>Veicolo: </label>
                <select class="form-control" th:field="*{veicoloId}">
                    <option value="">Scegliere un veicolo</option>
                    <option th:each="veicolo: ${veicolo}" th:value="${veicolo.getVeicoloId}" th:text="${veicolo.marca} + ' ' + ${veicolo.modello}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('veicoloId')}" th:errors="*{veicoloId}"></div>
                </select>
                <br>

                <label>Collo: </label>
                <select class="form-control" th:field="*{colloId}">
                    <option value="">Scegliere un collo</option>
                    <option th:each="collo: ${collo}" th:value="${collo.getColliId}" th:text="${collo.getColliId} + ' ' + ${collo.bolla}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('colloId')}" th:errors="*{colloId}"></div>
                </select>
                <br>

                <label>Flag Spedizione/Ritiro (Spuntato se Ritiro): </label>
                <input type="checkbox" th:field="*{spedizioneOrRitiro}" value=""/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('spedizioneOrRitiro')}" th:errors="*{spedizioneOrRitiro}"></div>
                <br>

                <label>Ingresso/Uscita</label>
                <input type="checkbox" th:field="*{inUscita}" value=""/><br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('inUscita')}" th:errors="*{inUscita}">
                </div>



           <label class="hidden">This is hidden label</label>
            <input type="submit"  class="btn btn-success" value="Crea spedizione"> <br>
            <label class="hidden">This is hidden label</label>
            <input type="reset" class="btn btn-success" value="Reset" />
            <br><br>
            <label class="hidden">This is hidden label</label>
             <a href="/spedizioni/">Visualizza lista spedizioni</a>
        </div>
    </form>
</body>
</html>